body{
    background-color: beige;
}
#tabellone{
    background-color:white;
    box-shadow: 5px 5px 10px 2px #333333;
    -webkit-box-shadow: 5px 5px 10px 2px #333333;
    -moz-box-shadow: 5px 5px 10px 2px #333333;
    width: 50%;
    margin-top:10em;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}
.NumeriTabellone{
    font-weight: bold;
    font-size:x-large;
    display:inline-block;
    width: 6%;
    padding:5px;
    border: 2px solid brown;
}

#divPulsante{
    text-align: center;
    padding-top: 1.5em;
}
#Estrazione{
    width: 10%;
    height: 3em;
    font-size:x-large;
}
#bloccoEstrazione{
    display: inline-block;
    margin-top:3em;
    margin-left:3em;
    border:6px solid red;
    padding:15px;
}